@model Migrantes.Models.Entities.Persona

@{
    ViewData["Title"] = "Formulario para crear una persona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="p-2 shadow-2 rounded-3 mb-2" style="background-color: hsl(0, 0%, 94%);">
    <h2 class="text-center text-primary"><strong>@ViewData["Title"]</strong></h2>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="per_estado" class="control-label"></label>
                <input asp-for="per_estado" class="form-control" />
                <span asp-validation-for="per_estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_codigo_alternativo" class="control-label"></label>
                <input asp-for="per_codigo_alternativo" class="form-control" />
                <span asp-validation-for="per_codigo_alternativo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_letra_indice" class="control-label"></label>
                <input asp-for="per_letra_indice" class="form-control" />
                <span asp-validation-for="per_letra_indice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_primer_ape" class="control-label"></label>
                <input asp-for="per_primer_ape" class="form-control" />
                <span asp-validation-for="per_primer_ape" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_segundo_ape" class="control-label"></label>
                <input asp-for="per_segundo_ape" class="form-control" />
                <span asp-validation-for="per_segundo_ape" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_apellido_cas" class="control-label"></label>
                <input asp-for="per_apellido_cas" class="form-control" />
                <span asp-validation-for="per_apellido_cas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_primer_nom" class="control-label"></label>
                <input asp-for="per_primer_nom" class="form-control" />
                <span asp-validation-for="per_primer_nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_segundo_nom" class="control-label"></label>
                <input asp-for="per_segundo_nom" class="form-control" />
                <span asp-validation-for="per_segundo_nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_otros_nom" class="control-label"></label>
                <input asp-for="per_otros_nom" class="form-control" />
                <span asp-validation-for="per_otros_nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_nombre_usual" class="control-label"></label>
                <input asp-for="per_nombre_usual" class="form-control" />
                <span asp-validation-for="per_nombre_usual" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_codpai_nacionalidad" class="control-label"></label>
                <input asp-for="per_codpai_nacionalidad" class="form-control" />
                <span asp-validation-for="per_codpai_nacionalidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_codpai_nacimiento" class="control-label"></label>
                <input asp-for="per_codpai_nacimiento" class="form-control" />
                <span asp-validation-for="per_codpai_nacimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_sexo" class="control-label"></label>
                <input asp-for="per_sexo" class="form-control" />
                <span asp-validation-for="per_sexo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_edad" class="control-label"></label>
                <input asp-for="per_edad" class="form-control" />
                <span asp-validation-for="per_edad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_fecha_nac" class="control-label"></label>
                <input asp-for="per_fecha_nac" class="form-control" />
                <span asp-validation-for="per_fecha_nac" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_profesion" class="control-label"></label>
                <input asp-for="per_profesion" class="form-control" />
                <span asp-validation-for="per_profesion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_estado_civil" class="control-label"></label>
                <input asp-for="per_estado_civil" class="form-control" />
                <span asp-validation-for="per_estado_civil" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_email" class="control-label"></label>
                <input asp-for="per_email" class="form-control" />
                <span asp-validation-for="per_email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_codmun_nac" class="control-label"></label>
                <input asp-for="per_codmun_nac" class="form-control" />
                <span asp-validation-for="per_codmun_nac" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_coddep_nac" class="control-label"></label>
                <input asp-for="per_coddep_nac" class="form-control" />
                <span asp-validation-for="per_coddep_nac" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_lugar_nac" class="control-label"></label>
                <input asp-for="per_lugar_nac" class="form-control" />
                <span asp-validation-for="per_lugar_nac" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_email_interno" class="control-label"></label>
                <input asp-for="per_email_interno" class="form-control" />
                <span asp-validation-for="per_email_interno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_telefono_movil" class="control-label"></label>
                <input asp-for="per_telefono_movil" class="form-control" />
                <span asp-validation-for="per_telefono_movil" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_telefono_interno" class="control-label"></label>
                <input asp-for="per_telefono_interno" class="form-control" />
                <span asp-validation-for="per_telefono_interno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_apellidos_nombres" class="control-label"></label>
                <input asp-for="per_apellidos_nombres" class="form-control" />
                <span asp-validation-for="per_apellidos_nombres" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_observaciones" class="control-label"></label>
                <input asp-for="per_observaciones" class="form-control" />
                <span asp-validation-for="per_observaciones" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_codpai_digita" class="control-label"></label>
                <input asp-for="per_codpai_digita" class="form-control" />
                <span asp-validation-for="per_codpai_digita" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_usuario_grabacion" class="control-label"></label>
                <input asp-for="per_usuario_grabacion" class="form-control" />
                <span asp-validation-for="per_usuario_grabacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_fecha_grabacion" class="control-label"></label>
                <input asp-for="per_fecha_grabacion" class="form-control" />
                <span asp-validation-for="per_fecha_grabacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_usuario_modificacion" class="control-label"></label>
                <input asp-for="per_usuario_modificacion" class="form-control" />
                <span asp-validation-for="per_usuario_modificacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="per_fecha_modificacion" class="control-label"></label>
                <input asp-for="per_fecha_modificacion" class="form-control" />
                <span asp-validation-for="per_fecha_modificacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear persona" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Index">Volver a la lista principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
