@using Migrantes.ViewModels
@model Migrantes.Models.Entities.DatosFamiliares

@{
    ViewData["TitleEditarDatosFamiliares"] = "Editar datos de familiares";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DatosFamiliaresViewModel> ListDatosFamiliares = ViewBag.ListDatosFam;
}


<div class="p-2 shadow-2 rounded-3 mb-2" style="background-color: hsl(0, 0%, 94%);font-family:Helvetica;border-radius: 9px;">
    <h2 class="text-center text-primary"><strong>@ViewData["TitleEditarDatosFamiliares"]</strong></h2>
</div>
<hr />

<a class="btn btn-outline-primary" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
<br />
<br />


<form asp-action="ActualizarFamiliaresEditados" asp-controller="DatosFamiliares" method="post" id="frm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.per_codigo_id" />
    <div class="form-group">
        <input type="hidden" asp-for="per_codigo_id" class="form-control text-center" />
    </div>

    <div class="box">
        <div class="card" style="width:230px;">
            <img src="~/cabeza-de-mujer.png" style="width:auto;height:auto;" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">Madre</h5>
                <input asp-for="nombres_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="nombres_madre" class="text-danger"></span>
                     <br />
                  <h5 class="card-title">Primer apellido</h5>
                <input asp-for="primer_apellido_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="primer_apellido_madre" class="text-danger"></span>
                     <br />
                <h5 class="card-title">Segundo apellido</h5>
                <input asp-for="segundo_apellido_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="segundo_apellido_madre" class="text-danger"></span>
                     <br />

                <h5 class="card-title">Profesión</h5>
                <input asp-for="profesion_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="profesion_madre" class="text-danger"></span>
                     <br />
                <h5 class="card-title">Edad</h5>
                <input type="number" asp-for="edad_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="edad_madre" class="text-danger"></span>
            </div>
        </div>

        <div class="card" style="width:230px;">
            <img src="~/cabeza-de-hombre.png" style="width:auto;height:auto;" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">Padre</h5>
                <input asp-for="nombres_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="nombres_padre" class="text-danger"></span>
                     <br />
                    <h5 class="card-title">Primer apellido</h5>
                <input asp-for="primer_apellido_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="primer_apellido_padre" class="text-danger"></span>
                     <br />
                <h5 class="card-title">Segundo apellido</h5>
                <input asp-for="segundo_apellido_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="segundo_apellido_padre" class="text-danger"></span>
                     <br />
                <h5 class="card-title">Profesión</h5>
                <input asp-for="profesion_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="profesion_padre" class="text-danger"></span>
                     <br />
                <h5 class="card-title">Edad</h5>
                <input type="number" asp-for="edad_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="edad_padre" class="text-danger"></span>
            </div>

            <style>
                .box {
                    display: flex;
                    justify-content: space-evenly;
                }
            </style>
        </div>
    </div>

    <br />
    <center>
        <div class="form-group">
             <input type="submit" value="Actualizar datos" class="btn btn-primary" />
            <a class="btn btn-outline-primary" asp-action="Personas">Eliminar</a>
        </div>
    </center>
</form>

