@using Migrantes.ViewModels
@model Migrantes.ViewModels.DatosFamiliaresViewModel

@{
    ViewData["TitleEliminarDatosFamiliares"] = "Eliminar datos de familiares";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DatosFamiliaresViewModel> ListDatosFamiliares = ViewBag.ListDatosFam;
}


<div class="p-2 shadow-2 rounded-3 mb-2" style="background-color: hsl(0, 0%, 94%);font-family:Helvetica;border-radius: 9px;">
    <h2 class="text-center text-primary"><strong>@ViewData["TitleEliminarDatosFamiliares"]</strong></h2>
</div>
<hr />

<a class="btn btn-outline-primary" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
<br />
<br />


<form asp-action="EliminarConfirmadoDatosFamiliares" asp-controller="DatosFamiliares" method="post" id="frm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.per_codigo_id" />
    <div class="form-group">
        <input type="hidden" asp-for="per_codigo_id" class="form-control text-center" />
        <input type="hidden" asp-for="id_datos_familiares" class="form-control text-center" />
    </div>
    <div class="box">
        <div class="card" style="width:230px;">
            <img src="~/Mujer.png" style="width:auto;height:auto;" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">Madre</h5>
                <input disabled asp-for="nombres_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="nombres_madre" class="text-danger"></span>
                <br />
                <h5 class="card-title">Primer apellido</h5>
                <input disabled asp-for="primer_apellido_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="primer_apellido_madre" class="text-danger"></span>
                <br />
                <h5 class="card-title">Segundo apellido</h5>
                <input disabled asp-for="segundo_apellido_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="segundo_apellido_madre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Profesión</h5>
                <input disabled asp-for="profesion_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="profesion_madre" class="text-danger"></span>
                <br />
                <h5 class="card-title">Edad</h5>
                <input disabled type="number" asp-for="edad_madre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="edad_madre" class="text-danger"></span>
            </div>
        </div>

        <div class="card" style="width:230px;">
            <img src="~/Hombre.png" style="width:auto;height:auto;" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">Padre</h5>
                <input disabled asp-for="nombres_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="nombres_padre" class="text-danger"></span>
                <br />
                <h5 class="card-title">Primer apellido</h5>
                <input disabled asp-for="primer_apellido_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="primer_apellido_padre" class="text-danger"></span>
                <br />
                <h5 class="card-title">Segundo apellido</h5>
                <input disabled asp-for="segundo_apellido_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="segundo_apellido_padre" class="text-danger"></span>
                <br />
                <h5 class="card-title">Profesión</h5>
                <input disabled asp-for="profesion_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="profesion_padre" class="text-danger"></span>
                <br />
                <h5 class="card-title">Edad</h5>
                <input disabled type="number" asp-for="edad_padre" class="form-control text-center" style="border:1px solid;color:black" />
                <span asp-validation-for="edad_padre" class="text-danger"></span>
            </div>

            <style>
                .box {
                    display: flex;
                    justify-content: space-evenly;
                }
            </style>
        </div>
    </div>

    <br />
    <center>
        <div class="form-group">
             <form asp-action="EliminarConfirmadoDatosFamiliares" asp-controller="DatosFamiliares" method="post" id="frm">
                <input type="submit" asp-for="per_codigo_id" class="btn btn-danger" type="button" onclick="Eliminar()" class="btn btn-danger" value="Eliminar"/>
            </form>
        </div>
    </center>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script src="~/js/generic.js"></script>
<script src="~/js/sweetalert.js"></script>

<script>
    function Eliminar() {
        var frm = document.getElementById("frm");
        MostrarModalDelete().then(res => {
            if (res.value) {
                frm.submit();
                MostrarSuccessEliminar();
            }
        })
    }

    $(document).ready(function () {
        $('.toast').toast('show');
    });

    $('.toast').toast(option)
</script>
}