@using Migrantes.Models.DTO
@using Migrantes.ViewModels
@model Migrantes.Models.DTO.DatosFamiliaresDTO

@{
    ViewData["TitleEliminarDatosFamiliares"] = "Eliminar familiar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DatosFamiliaresDTO> ListDatosFamiliares = ViewBag.ListDatosFam;
}

<div class="row">
    <div class="col" style="text-align:left">
        <div class="p-1 shadow-2 rounded-3 mb-2" style="font-family:Helvetica;border-radius: 9px;">
            <h2 class="text-primary"><strong>@ViewData["TitleEliminarDatosFamiliares"]</strong></h2>
        </div>
    </div>
    <div class="col" style="text-align:right">
        <a class="btn btn-outline-primary" style="justify-items:right;" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
    </div>
</div>
<hr>
<br />

<form asp-action="EliminarConfirmadoDatosFamiliares" asp-controller="DatosFamiliares" method="post" id="frm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.per_codigo_id" />
    <div class="form-group">
        <input type="hidden" asp-for="per_codigo_id" class="form-control text-center" />
        <input type="hidden" asp-for="DatosFamiliaresID" class="form-control text-center" />
    </div>
    <div class="box">
        <div class="card" style="width:275px;box-shadow: 5px 10px 15px #888888;">
            <img src="~/Mujer.png" style="width:auto;height:auto;" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">Primer nombre</h5>
                <input disabled asp-for="PrimerNombreFamiliar" class="form-control text-center" />
                <span asp-validation-for="PrimerNombreFamiliar" class="text-danger"></span>
                <br />

                <h5 class="card-title">Segundo nombre</h5>
                <input disabled asp-for="SegundoNombreFamiliar" class="form-control text-center" />
                <span asp-validation-for="SegundoNombreFamiliar" class="text-danger"></span>
                <br />

                <h5 class="card-title">Apellidos</h5>
                <input disabled asp-for="ApellidosFamiliar" class="form-control text-center" />
                <span asp-validation-for="ApellidosFamiliar" class="text-danger"></span>
                <br />

                <h5 class="card-title">Fecha de nacimiento</h5>
                <input asp-for="FechaNacimientoDelFamiliar" class="form-control text-center" />
                <span asp-validation-for="FechaNacimientoDelFamiliar" class="text-danger"></span>
                <br />

                <h5 class="card-title">Pais de nacimiento</h5>
                <input asp-for="PaisNacimientoDelFamiliar" class="form-control text-center" />
                <span asp-validation-for="PaisNacimientoDelFamiliar" class="text-danger"></span>
                <br />

                <h5 class="card-title">Profesión</h5>
                <input asp-for="ProfesionDelFamiliar" class="form-control text-center" />
                <span asp-validation-for="ProfesionDelFamiliar" class="text-danger"></span>
                <br />

                <h5 class="card-title"> Teléfono </h5>
                <input asp-for="TelefonoDelFamiliar" class="form-control text-center" />
                <span asp-validation-for="TelefonoDelFamiliar" class="text-danger"></span>
                <br />

                <h5 class="card-title">E-mail</h5>
                <input asp-for="EmaiDelFamiliar" class="form-control text-center" />
                <span asp-validation-for="EmaiDelFamiliar" class="text-danger"></span>
                <br />

            </div>
        </div>
        <style>
            .box {
                display: flex;
                justify-content: space-evenly;
            }
        </style>
    </div>
    <br />
    <center>
        <div class="form-group">
            <form asp-action="EliminarConfirmadoDatosFamiliares" asp-controller="DatosFamiliares" method="post" id="frm">
                <input type="submit" asp-for="per_codigo_id" class="btn btn-danger" type="button" onclick="Eliminar()" class="btn btn-danger" value="Eliminar" />
            </form>
        </div>
    </center>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/generic.js"></script>
    <script src="~/js/sweetalert.js"></script>

    <script>
        function Eliminar() {
            var frm = document.getElementById("frm");
            MostrarModalDelete().then(res => {
                if (res.value) {
                    frm.submit();
                    MostrarSuccessEliminar();
                }
            })
        }

        $(document).ready(function() {
            $('.toast').toast('show');
        });

        $('.toast').toast(option)
    </script>
}