@using Migrantes.Models.DTO
@model Migrantes.ViewModels.DocumentosViewModel
@{
    ViewData["Title"] = "Detalles del Documento Guardado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> TipoDocSelect = ViewBag.ListDoc;
    List<DocumentosPersonaDTO> DocumentosPersona = ViewBag.ListadoDocumentos;
}

<center>
    <div class="p-2 shadow-2 rounded-3 mb-2" style="background-color: hsl(0, 0%, 94%);font-family:Helvetica;border-radius: 9px;width:fit-content;">
        <h2 class="text-center text-primary"><strong>@ViewData["Title"]</strong></h2>
    </div>
    <hr />
</center>



<div class="row justify-content-center">
    <div style="text-align: center" class="col-md-4 offset-sm-0">
        <form asp-action="DetallesDocumento" asp-controller="Documentos" method="post" id="frm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ide_id_persona" />

            <div class="form-group">
                <input type="hidden" readonly asp-for="ide_codigo_id" class="form-control text-center" />
            </div>

            <div class="form-group">
                <strong>
                    <label asp-for="ide_id_documento" class="control-label"></label>
                </strong>
                <select asp-for="ide_id_documento" asp-items="@TipoDocSelect" class="form-control text-center" style="border:1px solid;color:black" disabled> </select>
                <span asp-validation-for="ide_id_documento" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <strong>
                    <label asp-for="ide_numero" class="control-label"></label>
                </strong>
                <input type="number" asp-for="ide_numero" class="form-control text-center" name="ide_numero" style="border:1px solid;color:black" disabled />
            </div>

            <br />

            <div class="form-group">
                <strong>
                    <label asp-for="ide_fecha_emision" class="control-label"></label>
                </strong>
                <input asp-for="ide_fecha_emision" class="form-control text-center" style="border:1px solid;color:black" disabled />
            </div>

            <br />

            <div class="form-group">
                <strong>
                    <label asp-for="ide_fecha_vencimiento" class="control-label"></label>
                </strong>
                <input asp-for="ide_fecha_vencimiento" class="form-control text-center" style="border:1px solid;color:black" disabled />
            </div>
            <br />
            <div class="form-group">
                <a class="btn btn-outline-primary" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>

<br />
<br />
