/* Style the links inside the sidenav */
#mySidenav a {
    margin-top: 35px;
    position: fixed; /* Position them relative to the browser window */
    left: -1px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 19px; /* 15px padding */
    height: auto; /* altura */
    width: 210px; /* Set a specific width */
    text-decoration: inherit; /* Remove underline */
    font-size: 17px; /* Increase font size */
    font-family: Helvetica; /* font style  */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    justify-content: normal;
    border: 1px solid;
    color: white;
}

    #mySidenav a:hover {
        left: 20px; /* On mouse-over, make the elements appear as they should */
        background-color: #7EC9F5;
    }

/* The about link: 20px from the top with a green background */
#about {
    top: 20px;
    background-color: #007bff;
}

#blog {
    top: 80px;
    background-color: #007bff; /* Blue */
}

#projects {
    top: 140px;
    background-color: #007bff; /* Red */
}

#contact {
    top: 200px;
    background-color: #007bff; /* Light Black */
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}


@media screen and (max-width: 600px) {
    #mySidenav a {
        margin-top: 35px;
        position: fixed; /* Position them relative to the browser window */
        left: -142px; /* Position them outside of the screen */
        transition: 0.3s; /* Add transition on hover */
        padding: 19px; /* 15px padding */
        height: auto; /* altura */
        width: 205px; /* Set a specific width */
        text-decoration: inherit; /* Remove underline */
        font-size: 17px; /* Increase font size */
        font-family: Helvetica; /* font style  */
        color: white; /* White text color */
        border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
        justify-content: normal;
        border: 1px solid;
        color: white;
    }
}
